.container {
  width: 100%;
  max-width: 960px;
  margin: 0 1rem;
}

.header {
  background-image: url("../../assets/bg.svg");
  background-size: cover;
  background-position: bottom 0px right 0px;
  object-fit: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.coracao {
  width: 44px;
  height: 35px;
  display: none;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.coracao {
  width: 44px;
  height: 35px;
}

.headerContent.callToAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.callToAction {
  display: none;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1em;
  gap: 1.5em;
}

.h1 {
  color: #1e1e1e;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.paragraph {
  font-size: clamp(18px, 2.5vw, 24px);
  font-family: Montserrat;
  color: #d95876;
  text-align: center;
  font-weight: 800;
  width: 100%;
  margin: 0;
}

.paragraph1 {
  color: #7d6351;
  font-family: Montserrat;
  font-size: clamp(18px, 2vw, 32px);
  text-align: center;
  font-weight: 400;
  width: 90%;
  padding: 0 1em;
}

.find {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.h2 {
  font-size: clamp(24px, 2vw, 36px);
  font-family: Montserrat;
  text-align: center;
  font-weight: 700;
  color: var(--color-pink, #d95876);
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heart {
  width: 44px;
  height: 35px;
  padding-bottom: 1em;
}

.sectionBox,
.redesCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.redesCard {
  margin: 40px 0;
  /* max-width: 873px; */
  background-image: url(../../assets/rectangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 40px 0;
}

.redesContent {
  padding: 40px 0;
}

.redesContent {
  max-width: 873px;
  width: 100%;
  max-height: 655px;
}
.redesHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 1rem;
  margin-bottom: 32px;
}

.redesTitle {
  color: #d95876;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.redesFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.redesH2 {
  color: #d95876;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.redesIcons {
  display: flex;
  gap: 56px;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.redesParagraph {
  color: #1e1e1e;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 40ch;
}

.boxContent {
  display: flex;
  width: 100%;
  max-width: 960px;
  position: relative;
  bottom: -15px;
}

.boxContentText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.boxContentText h2 {
  color: #d95876;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}

.boxContentText p {
  color: #1e1e1e;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 40ch;
}

.invert {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 960px;
  position: relative;
  bottom: -28px;
}

.mainServices {
  display: none;
}

.helpContent {
  padding: 52px 0;
}

@media (max-width: 610px) {
  .container {
    width: 100%;
  }
  .header {
    background-image: url("../../assets/bgHeader.png");
    background-size: cover;
    background-position: top -50px left 0;
  }
  .logo {
    width: 242px;
  }
  .coracao {
    display: block;
  }

  .callToAction {
    display: flex;
    flex-direction: column;
    margin: 16px 0 31px 0;
  }

  .redesCard,
  .sectionBox {
    display: none;
  }
  .mainServices {
    display: block;
  }

  .mainContent {
    color: var(--dark-10, #1e1e1e);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
