/* src/components/HamburgerMenu.css */

.hamburger-menu {
  display: flex;
  justify-content: space-between;
}

/* Ícone do menu está oculto por padrão e visível apenas em telas pequenas */
.icon {
  font-size: 2rem;
  cursor: pointer;
  display: none; /* Oculto por padrão */
  z-index: 1001;
  padding-right: 1rem;
}

.menu {
  display: none; /* Menu oculto por padrão */
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #333;
  padding: 10px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  width: 174px;
  height: 432px;
  display: flex;
  flex-direction: column;
}

/* Menu visível quando a classe open é adicionada */
.menu.open {
  display: flex; /* Menu visível */
  border-top: 4px solid rgba(253, 238, 183, 0.45);
  border-left: 4px solid rgba(253, 238, 183, 0.45);
  border-bottom: 4px solid rgba(253, 238, 183, 0.45);
  background: #FAABA7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul li a {
  color: #B08A70;
  text-decoration: none;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.menu ul li img {
  margin-right: 8px;
  width: 20px;
  height: auto;
}

/* Media Query para telas pequenas */
@media (max-width: 390px) {
  .icon {
    display: block; /* Ícone visível em telas pequenas */
  }

  /* Certifica-se de que o menu ainda esteja oculto por padrão em telas pequenas */
  .menu {
    display: none;
  }
}
