.footerContainer{
  background-image: url('../../assets/bgFooter.png');
  width: 390px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footerText{
  color: #7D6351;
font-family: Montserrat;
font-size: clamp(15px, 2vw, 24px);
font-weight: 700;

}