
.help {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbersDiv {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.numbers {
  color: var(--dark-10, #1E1E1E);
  text-align: center;
  font-family: Montserrat;
  font-size: clamp(40px, 5vw, 60px);
  font-weight: 700;
}

.numberSpam {
  color: var(--dark-10, #1E1E1E);
  font-family: Montserrat;
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 400;
  text-decoration-line: underline;
  width: 206px; /* Ajuste conforme necessário */
}